@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/metropolis.min.css");


#bookpage-container{
    background-color: rgb(244,244,244);
    position: relative;
    width:100%;
    /* padding-left: 13%; */
    padding-top: 50px;
    font-family: "Metropolis","-apple-system,BlinkMacSystemFont","Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";;
}

/* image modal */
#image-modal{
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #000000;
    background-color: rgb(0, 0, 0);
    text-align: center;
    overflow-y: scroll;
}
#image-modal::-webkit-scrollbar{
    width:5px;
}
#image-modal::-webkit-scrollbar-thumb{
    background-color:rgb(255, 255, 255);
}
#modal-img{
    margin: auto;
    margin-top: 50px;
    width: 50%;
}
#close{
    font-size: 17px;
    color: white;
    position:absolute;
    position: fixed;
    right: 10;
    top: 10;
}




/* BOOKING DETAILS CONTAINER */


#booking-details-container{
    width:21%;
    position: fixed;
    right: 11%;
    top:40;
    height:480px;
    border-radius: 5px;
    background-color: white;
}
#booking-scroll-container{
    overflow-x: scroll;
    height: 440px;
}
#booking-scroll-container::-webkit-scrollbar{
    width:5px;
}
#booking-scroll-container::-webkit-scrollbar-thumb{
    background-color:rgb(160,160,160);
}
#booking-details-container>h5{
    margin: 0px;
    padding: 12px 0px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}
#selected-date{
    font-size: 14px;
    font-weight: 500;
    color: #4e4d4d;
    padding: 10px;
}
#s-time{
    font-size: 14px;
    font-weight: 600;
}


.select-date{
    width:100%;
    margin-top: 10px;
    height: 92px;
    /* overflow: scroll;   */
}
.select-date>h5{
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #202020;
}
.calender{
    width:93%;
    margin: auto;
    box-shadow: 2px 2px 25px 2px rgb(236,236,236);   
}
.month{
    width:13%;
    padding:20px 10px 20px 15px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(43,152,247);
}
.month>span{
    background-color: #0b5b8f;
    color: white;
    margin-top: 5px;
    font-size: 8px;
    padding:2px 6px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 2px;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.month>img{
    margin-top: 6px;
    width:30px;
    height: 35px;
}
.days{
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: white;
}
.days>i{
    display: inline-block;
    cursor: pointer;
    
}
.days>div{
    display: inline-block;
    /* transition:black 0.6s ease; */
}

#dates{
    width:84%;
    vertical-align: middle;
    overflow-x: scroll;
}
#dates::-webkit-scrollbar{
    display: none;
}
#dates>ul{
    padding: 0;
    list-style: none;
    display: table;
}
#dates>ul>li{
    display: table-cell;
    padding: 0 7px;
    color: rgb(105,105,105);
    cursor: pointer;
}
#dates>ul>li>span{
    font-size: 13px;
    font-weight: 300;
}
#dates>ul>li>div{
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}





.timing-details{
    padding:15px;
}
.timetitle{
    font-size: 14px;
}
.timing-details>p{
    margin: 0;
    color: #696969;
    padding-top: 5px;
}

.avail-timings{
 width: 80%;
 text-align: center;
 margin-top: 10px;
 margin-left: 10px;
 padding: 10px;
 box-shadow: 2px 2px 25px 2px rgb(204, 203, 203);
 font-size: 14;
 font-weight: 600;
 color: #4d4d4d;

}

.avail-timings-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}
.avail-timings-container>div{
    padding: 10px;
    font-size: 13px;
    background-color: rgb(220,220,220);
    cursor: pointer;
}


/* guest  */
#select-guest-container{
    padding: 15px;
    display: none;
}

#select-Guest-container>h5{
    color: black;
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
}
#select-guest-container>p{
    margin: 0;
    color: #696969;
    margin-bottom: 10px;
}
#no-of-guest{
    padding: 8px;
    background-color: rgb(241,241,241);
    text-align: left;
    
}
.g-title{
    font-size: 12px;
    padding: 10px;
    font-weight: 600;
    display: inline-block;
    vertical-align: middle;
}
#add-guest{
    font-size: 20px;
    padding: 4px;
    color: rgb(62,160,246);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#guest-count{
    font-size: 14px;
    font-weight: 800;
    padding: 5px;
    margin: 2px;
    display: inline-block;
    vertical-align: middle;

}
#remove-guest{
    font-size: 20px;
    padding: 4px;
    color: rgb(62,160,246);
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
div>h5{
    margin: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
    color: #232323;
}
.booking-details{
    padding:15px;
    padding-bottom: 50px;
}


.booking-details>input{
    width:100%;
    padding: 12px;
    color:rgb(159,163,164);
    background-color: rgb(241,241,241);
    margin-bottom: 25px;
    border: 0px solid rgb(241,241,241);
    border-radius: 5px;
}
.booking-details>div>input{
    width:100%;
    padding: 12px;
    color:rgb(159,163,164);
    background-color: rgb(241,241,241);
    margin-bottom: 25px;
    border: 0px solid rgb(241,241,241);
    border-radius: 5px;
    
}
#email{
    display: none;
    cursor: auto;   
}
#request{
    display: none;
    cursor: auto;
}
#email-address,#special-request{
    margin-bottom: 20px;
    cursor: pointer;
}
#email-address>i,#special-request>i{
    font-size: 18px;
    background-color: rgb(85, 83, 83);
    border-radius: 50%;
    color: rgb(241,241,241);
}
#email-address>span,#special-request>span{
    font-size: 13px;
}

#slider-container{
    width:52%;
    margin-left: 13%;
}
#image-slider{
    position: relative;
    overflow: hidden;
    transition:white 50s ease-in-out;
    background-color: white;
}
#image-slider>img{
    width:100%;
    height:450px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    transition:white 50s ease-in-out;
    
}
#left-arrow{
    position: absolute;
    top: 35%;
    left: -43;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: 0;
}
#left-arrow>i{
    font-size: 25px;
    margin-top: 18px;
    margin-left: 45px;
    color: white;
}
#right-arrow{
    position: absolute;
    top: 35%;
    right: -40;
    background: rgba(0,0,0,.6);
    border-radius: 50%;
    padding: 5px;
    width: 70px;
    height: 70px;
    border: 0;
    text-align: center;
}
#right-arrow>i{
    font-size: 25px;
    margin-top: 19px;
    margin-right: 26px;
    color: white;
}

#all-photos{
    position:absolute;
    padding:10px 12px;
    left: 80%;
    bottom: 25%;
    font-size: 13px;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.536);
    border: 1px solid rgb(174, 174, 174);
    border-radius: 30px;
}
#all-photos:hover{
    background-color: rgba(0, 0, 0, 0.707);


}
#all-photos::before{
    
    content:"";
    display: inline-block;
    vertical-align: top;
    width: 1.1em;
    height: 1em;
    background:url(/images/gallary_icon.webp);
    background-size: cover;
}
#all-photos::after{
    content:"";
    display: inline-block;
    vertical-align: top;
    width: 1.1em;
    height: 1em;
    background:url(/images/right_icon_white.png);
    background-size: cover;

}

.restaurant-details-container{
    width: 100%;
}

.restaurant-details-container>.restaurant-details{
    padding-left: 20px;
    padding-bottom: 15px;
    font-size:14px;
    color:#696969;
    line-height: 1.6;
    letter-spacing: 0.5;
    display: inline-block ;
    vertical-align: middle;
    width: 80%;
}

.restaurant-details-container>.restaurant-details>#name{
    padding-top: 10px;
    font-size: 22px;
    color: #202020;
    margin: 0;
    font-weight: 600;
    line-height: 1.8;
    font-family: 'Metropolis', Bold;
}
.restaurant-details-container>.restaurant-details>div>i{
    font-size: 13;
}
#rupees,#address,#city,.times{
    color: #202020;

}
#opening-time{
    color: rgb(53,149,255);
    font-family: "metropolis",Bold;
    font-weight: 600;
}
.vl{
    border-left: 2px solid rgb(153,105,105);
    height: 10px;

}
.review-rating{
    float: right;
    text-align: center;
    padding: 20px;
}

#rating{
    border-radius: 4px;
    text-align: center;
    background-color: #5ba727;
    color:#fff;
    padding:10px 12px;
    font-size: 18px;
    font-weight: 700;
}

#rating~div{
    padding-top: 10px;
    color: rgb(53,149,255);
    font-family: "metropolis",Bold;
    font-weight: 600;
    line-height: 1.2;
    border-bottom: 2px dotted rgb(53,149,255);    
}
.menu-container{
    margin-top: 10px;
    width: 100%;
}

#menu-bar{
    width: 100%;
    margin: 0;
    padding:0;
    background-color: white;
}

#menu-bar>li{
    list-style: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'metropolis',bold;
    padding: 17px 20px;
    text-decoration: none;  
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-bottom: 5px solid white;
}
#menu-bar>li:hover{
    border-bottom: 5px solid rgb(0,194,79);
    color: rgb(0,194,79);
}
#menu-bar>li>a{
    text-decoration: none;
    color: black;
    transition: 0.7s ease-in-out;
}
#overview{
    width: 100%;
    margin-top: 10px;
    background-color: white;
    border-radius: 7px;
   
}
#overview>img{
    width: 22%;
    display: inline-block;
    vertical-align: middle;
    border-radius: 7px;
}
#overview>span{
    width: 60%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 50px;
    font-size: 16px;
}

#menu,#about{
    width:100%;
    background-color: white;
    position: relative;
    border-radius: 7px;
    margin-top: 10px;
    
}
div>h3{
    margin: 0;
    padding: 10px 20px;
}
#menu{
    padding-bottom: 20px;
}
#menu-img{
    width:50%;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#menu-img>img{
    width:34%;
    height: 120px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

#total-menu{
    text-align: center;
    background-color: black;
    width: 17%;
    position: absolute;
    color: white;
    bottom: 15;
    left: 20px;
    padding: 4px 0;
    font-size:12px;
    font-family: 'metropolis',bold;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

}

#about-details{
    width: 95%;
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 10px;
    font-size: 14px;
    height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#read-more{
    padding-left: 20px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(43,152,247);
    margin-bottom: 10px;
}

.about-info{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    
}
.about-info>img{
    width: 4%;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
.about-info>div{
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.about-info>div>h4{
    font-size: 14px;
    font-family: 'metropolis',block;
    font-weight: 800;
    line-height: 1.5;
    color: #ac8e48;
    margin: 0;
}
.about-info>div>div{
    font-size: 14px;
    color: #494949;

}
#features{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    vertical-align: middle;
    text-align: left;
    margin-top: 15px;
    padding-bottom: 30px;
}
#features>div>img{
    width: 11%;
    padding-left: 20px;
    display: inline-block;
    vertical-align: top;
}
#features>div>span{
    margin-left: 5px;
    font-size: 14px;
    color: #494949;
}

#help{
    width: 100%;
    background-color: white;
    padding-bottom: 20px;
}

#help>div>div{
    width:40%;
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-top: 10px;
}
#help>div>div>img{
    display: inline-block;
    width:13%;
}

#help>div>div>div{
    display: inline-block;
    vertical-align: top;
    line-height: 1.3;
    margin-left: 8px;
}

#continue{
    position: absolute;
    display: none;
    width:100%;
    font-size: 15px;
    padding: 13px;
    border-radius: 5px;
    color: white;
    background-color: rgb(220,79,74);
    border: none;
    bottom: -20;
    cursor: pointer;
}





