#logo{
    height:33px ;
    width: 100px;
}
#logo_s{

    height: 20px;
    width: 20px;


}



#search{

display: flex;
align-items: center;

margin-left: 30px;
margin-right: 60px;
justify-content: center;
}


#navbar{

    display: flex;
    align-items: center;
    
    margin: auto;
    /* border: 2px solid pink; */
    width: 80%; 
    margin-top: 15px;
    

}
#nav2{

   margin:  2px;
    background-color:antiquewhite ;
    justify-content: space-between;
}

  


#foot{


    text-align: center;
}

#Available{


 
    display: flex;
    align-items: center;
    
    margin: auto;
    /* border: 2px solid pink; */
    width: 75%; 
    margin-top: 15px;
    
} 
#home1{

    display: flex;
   
    background-color: aqua;
    
    border: 1px solid black;
}
.home2{

    justify-content: space-between;


}
#navs{

margin-left: 25px;

}
#acc{

    display: flex;
    margin-left: 20px;
    text-align: center;
    align-items: center;
}
#box1{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#ffebea;
    border: 2px solid #ff645a;
    margin-right: 10px ;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"   ;
    font-size:12px;
    color: #ff645a;

    
}
#box2{
    text-align:left;
    font-size: 14px ;
    margin-right: 10px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#homeimg{

    width: 101%;
    margin-top: 20px;
    margin-left: -7px;
}
#Best1{

    width: 60%;
    margin-left: 13%;
    


}
#img1{

    height: 190px;
    width: 150px;
    padding-top: 5%;
}

#location>#places{
    border-radius: 4px;
    align-items: center;
    border: 0.5px solid #bcbcbc;
    padding: 0.4rem 1rem;
    margin: 0 0 0 3rem;
    width: 210px;
    position: relative;
    color: #666;
}
#bottomSection{
    width: 50%;
    margin-left:-60px;

    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}
#bottomSection>div>a{
    text-decoration:none;
    color: black;
}
#bottomSection>div>a:hover{
    color: #FF645A;
}

#bottomSection>div{


    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size:14px;
    
    
}

#off{

/*  background-color: #bcbcbc; */
margin-top: -2%;
background-color: #f3f3f3;
padding-bottom: 40px;

}

#ava{

    /* display: flex; */
    align-items: center;
    
    margin: auto;
    /* border: 2px solid pink; */
    width: 70%; 
    margin-top: 15px;
}
#Best2{

    padding-top: 40px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";    
    font-size: 17.08px ;
    font-weight: 700;







}


#imgg{

    margin-top: -50px;
    


}
#sp1{

    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }


  .footer {

    position: relative;
    height: auto;
    width: 110%;
    margin-left: 13%;
    /* background-color: #070617; */
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
    margin-top: 20px;
    margin-right: 30px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: black(28, 26, 26, 0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #666666;
    line-height: 21px;
    font-size: 14px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: black;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }

#sm{

    color: #666666;
    line-height: 21px;
    font-size: 14px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

#newav{

margin-top: 70px;    
color: #ff645a;
font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
font-size: 16.1px;
padding-left: 20px;



}

#hedf{
color: #ff645a;
font-size: 16.1px;
font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
line-height: 19.32px;
font-weight: 700;


}
#d2{

    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    color: #666666  ;



}
#d3{

    color: #666666 ;
    font-size: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px ;
    font-weight: 400;




}
#d4{

color: #666666;
font-size: 12px;
font-weight: 400;


}
#Near_You{

    display: flex;
    /* align-items: center; */
    /*  */
    
    /* border: 2px solid pink; */
    width: 60%; 
    margin-top: 15px;
    margin-left: 13%;



}
#nimg{

    height: 160px;
    width: 260px;
    border-radius: 5px;
  border: 2px  #73AD21;
  
  height: 150px; 
    
}
#imgdiv{
    /* padding-left: 20px; */
    /* background-color: #f3f3f3; */
    margin-right: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#hot{

    display: flex;
    /* border: 2px solid red; */



}#hot>div{

    /* padding-right: 41px; */
    /* border: 2px solid red;
     */


}


#rat{

    
    background-color: #73AD21;
    width: 30px;
    padding-top: 3px;
    height: 20px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 30px;
    text-align: center;
    align-items: center;
    margin-left: 90px;
    font-weight: 700;
    color:white;
}
#fam{

    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16.1px;
    font-weight: 700;
    padding-left: 5px;
    align-items: center;



}
#fam2{


    font-size: 12px;
    font-family: Metropolis, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 16px;
    font-weight: 400 ;
    padding-left: 5px;


}

#loginButton>button{
    height: 29px;
    border-radius: 5px;
    border: none;
    width: 108.5px;
}
#loginButton>button{
    color: white;
    background-color: #FF645A;
}