/* // css added by madhavi  */
#main-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    /* background-color: rgb(185, 178, 178); */
    /* margin-left:100px; */
 }

 .check-container{
    display:flex;
 
 }
 .check{
    width:20px;
    height: 20px;
    cursor:pointer;
    margin-bottom: 15px;
    margin-right: 10px;
    border: #696969;
  
 }
 p{
    color:rgb(162, 163, 164);
    font-size:14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-left:10px;
    cursor:pointer;
 }
 .check-container{
    margin-left:10px;
 }
#search{
    /* background-color:rgb(247, 242, 233); */
    background-color:rgb(244, 239, 239);
    padding-left: 10px;
    border:none;
    height:30px;
    margin-left:19px;
    border-radius:10px;
    /* width:240px; */
    font-size: 13.5px;
    margin-bottom:10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif; ;
 }
 .checkmark{
    color:rgb(162, 163, 164);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:13.5px;
    border:none;
 }
 .sub-head{
    color:rgb(143, 143, 137);
    margin-left:17px;
    cursor:pointer;
    /* padding:20px; */
    width:220px;
    border:none;
    outline:none;
    margin-bottom: 10px;
    margin-top: 10px;
 }
 
 .sub-head:after{
   content:'-';
   color:black;
   font-size: 25px;
   font-weight:bold;
   float:right;
   /* margin-left:480px; */
   /* margin-top: -20px; */
   margin-right: 10px;
 }

 /* // above css added by madhavi  */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: Metropolis,-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body{
   
    background-color:  #efecec;;
}

#main-container{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    gap: 20px; 
}

#nav-title{
display: flex;
justify-content: space-between;
}
#nav-title>p{
    margin: 0;
    font-size: 24px;
    color: #212121;
    line-height: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}
#sortby{
    padding: 0 15px;
    /* display: block; */
    /* vertical-align: middle; */
    height: 36px;
    line-height: 36px;
    border: 1px solid #dcdcdc;
    display: block;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

#sortby>option{
    padding: 8px 15px;
    border-bottom: 1px solid #dcdcdc;
    color: #696969;
    cursor: pointer;
   

}

#feature-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
   
    /* width: 20%; */
    margin-top: 20px;
}

#product-container{
    display: flex;
    /* width: 50%; */
    flex-direction: column;
    flex-grow: 3;
    margin-top: 20px;
}

.left-feature{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
  
   
}

#product-details{
    display: grid;
    
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: auto;
     gap: 15px;   

}
#product-details{
    color: #8f8f8f;
    font-size: 12px;
}
#product-details>div{
    background-color: white;  
}
p{
    padding: 5px;
}

.title{
    font-size: 20px;
    font-weight: bold;
    color: #141723;
}

.img-feature>img{
    width: 100%;
    height: 170px;
    
}

/* // add hover all  */
.img-feature>img,.title,.dine:hover{
    cursor: pointer;
}

.img-feature{
    position: relative;
    text-align: center;
    color: white;
}

.txt-feature{
    padding: 10px;
}

.rate{
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    top: 10px;
    right: 10px; 
    background-color: #b3ca42;
    font-family: Metropolis Bold;
    padding: 0;

}

#linkEle{
    text-decoration: none;
    background-color: white;
    
}





